.checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: $color-secondary;
  font-size: 1rem;
  line-height: 1.5;
  padding-left: 40px;
  user-select: none;

  &__hidden {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: -1;
  }

  &__mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    border: 1px solid $color-secondary--lightest;
  }

  &__mark:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid $color-main;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  &__hidden:checked ~ .checkbox__mark:after {
    display: block;
  }

}