.product-composition {
  display: flex;

  &__item {
    margin-right: 20px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__title {
    margin-bottom: 2px;
    font-size: 0.6429rem;
    color: $color-secondary--lighten;
  }

  &__value {
    font-size: 0.8571rem;
    font-weight: 500;
    color: $color-main;
  }

}