.history {
  
  &__title {
    margin-bottom: 25px;
    
    @media (min-width: $screen-md) {
      margin-bottom: 35px;
    }
    
  }

  &__order {
    padding: 35px 20px 20px;
    margin-bottom: 40px;
    box-shadow: $box-shadow;
    background-color: $color-white;

    @media (min-width: $screen-md) {
      padding: 40px;
    }

  }

  &__order:last-child {
    margin-bottom: 0;
  }

  &__heading {
    margin-bottom: 30px;

    @media (min-width: $screen-md) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 45px;
    }

  }

  &__number {
    margin-bottom: 10px;
    font-size: 1.286rem;
    color: $color-secondary;
    font-weight: 700;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
      font-size: 1.714rem;
    }

  }

  &__date {
    font-size: $font-size;
    color: $color-secondary--light;

    @media (min-width: $screen-md) {
      padding-top: 10px;
    }

  }

  &__content-items-top {
    margin-bottom: 30px;

    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px;
    }

  }

  &__content-item {
    margin-bottom: 30px;

    @media (min-width: $screen-md) {
      width: 50%;
      padding-right: 50px;
      margin-bottom: 40px;
    }

  }

  &__content-item--big {
    width: 100%;
  }

  &__content-item:last-child {
    margin-bottom: 0;
  }

  &__content-item-label {
    margin-bottom: 13px;
    font-size: 0.8571rem;
    color: $color-secondary--light;
  }

  &__content-item-value {
    position: relative;
    font-size: $font-size;
    color: $color-secondary;
  }

  &__content-item-value--status-icon {
    padding-left: 23px;

    .history__content-item__icon-status {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 17px;
      height: 17px;
      background-repeat: no-repeat;
      background-size: 17px;
    }

  }

  &__dish-list-wrapper {
    overflow: hidden;
  }

  &__dish-list-divider {
    margin-bottom: 30px;
  }

  &__dish-list {
    padding-bottom: 20px;
  }

  &__dish {
    display: flex;
  }

  &__dish-title {
    max-width: 250px;
    display: inline-block;
  }

  &__dish-img {
    display: block;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__dish-info {
    width: 100%;

    @media (min-width: $screen-md) {
      padding-top: 8px;
    }

  }

  &__dish-info-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    @media (min-width: $screen-md) {
      margin-bottom: 8px;
    }

  }

  &__dish-info-row:nth-child(2) {

    @media (min-width: $screen-md) {
      margin-top: 20px;
    }

  }

  &__dish-info-row:last-child {
    margin-bottom: 0;
  }

  &__dish-amount-price-wrapper {
    padding-left: 20px;
    margin-left: auto;
  }

  &__dish-amount {
    font-size: 0.8571rem;
    color: $color-secondary--light;

    @media (min-width: $screen-md) {
      font-size: 1rem;
    }

  }

  &__dish-price {
    display: inline-block;
    min-width: 60px;
    text-align: right;
    font-size: 1rem;
    color: $color-secondary;
    font-weight: 700;

    @media (min-width: $screen-md) {
      font-size: 1.143rem;
    }

    span {
      font-size: 0.8571rem;

      @media (min-width: $screen-md) {
        font-size: 1rem;
      }

    }

  }

  &__dish-ingredient {
    max-width: 250px;
    position: relative;
    padding-left: 30px;
    font-size: 0.8571rem;
    color: $color-secondary--light;

    &:before {
      display: block;
      content: '+';
      position: absolute;
      top: -5px;
      left: 2px;
      font-size: 20px;
      color: $color-main;
    }

  }

  &__dish-item-divider {
    margin: 20px 0;
  }

  &__points {
    margin-bottom: 10px;
  }

  &__points-title {
    display: inline-block;
    margin-right: 5px;
    font-size: 1.143rem;
    color: #3d5b5a;
  }

  &__points-value {
    display: inline-block;
    font-size: 1.143rem;
    line-height: 1;
    color: #3d5b5a;
  }

  &__dish-info-checklist {
    max-width: 250px;
  }

}