.modal {
  position: fixed;
  z-index: 6;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: $color-black--translucent;

  &__dialog {
    position: relative;
    width: 280px;
    padding: 50px 30px 60px;
    background-color: $color-white;
    clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);

    @media (min-width: $screen-md) {
      width: 450px;
      padding: 50px 55px 60px;
      clip-path: polygon(70px 0, 100% 0, 100% calc(100% - 70px), calc(100% - 70px) 100%, 0 100%, 0 70px);
    }

  }

  &__close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background-color: $color-main;
    font-size: 17px;
    color: $color-white;
    cursor: pointer;
  }
  
  &__content {
    text-align: center;
  }

  &__title {
    font-size: 1.714rem;
    color: $color-secondary;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__title--sm {
    font-size: 1.286rem;
  }

}

.modal--active {
  display: flex;
}