.user-agreement {

  &__title {
    margin-bottom: 20px;
  }

  &__content {
    padding: 40px 20px 50px;
    box-shadow: $box-shadow;
    background-color: $color-white;

    @media (min-width: $screen-md) {
      padding: 50px 45px;
    }

  }

  &__heading {
    margin-bottom: 35px;
    font-size: 1.143rem;
    color: $color-secondary;
    font-weight: 700;
  }

  &__p {
    margin-bottom: 30px;
    font-size: $font-size;
    line-height: 1.55;
    color: $color-secondary;
  }

  &__p:last-child {
    margin-bottom: 0;
  }

  &__text-bold {
    font-weight: 700;
  }

  &__links-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  &__link {
    margin-bottom: 5px;
  }

  &__link:last-child {
    margin-bottom: 0;
  }

}