.toppings {

  &__item {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;

    @media (min-width: $screen-md) {
      margin-bottom: 12px;
    }

  }

  &__item-name {
    max-width: 160px;
    padding-right: 10px;
    font-size: 0.7143rem;
    color: $color-secondary--light;

    @media (min-width: $screen-md) {
      max-width: 200px;
    }

    @media (min-width: $screen-lg) {
      max-width: 300px;
      font-size: 1rem;
    }

  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__item-value {
    margin-top: -4px;
    white-space: nowrap;
  }

  &__item-amount {
    margin-right: 5px;
    font-size: 0.7143rem;
    color: $color-secondary--light;

    @media (min-width: $screen-lg) {
      font-size: 1rem;
    }

  }

  &__item-price {
    font-size: 0.7143rem;
    font-weight: 700;
    color: $color-secondary;

    @media (min-width: $screen-lg) {
      font-size: 1rem;
    }

    span {
      font-size: 0.7143rem;

      @media (min-width: $screen-lg) {
        font-size: 0.8571rem;
      }

    }

  }

}