.cart {

  &__page-header {
    margin-bottom: 20px;

    @media (min-width: $screen-md) {
      margin-bottom: 35px;
    }

  }

  &__content-wrapper {
    overflow-x: hidden;
    padding: 20px;
    background-color: $color-white;
    box-shadow: $box-shadow;

    @media (min-width: $screen-lg) {
      padding: 35px;
    }

  }

  &__content {

    @media (min-width: $screen-lg) {
      padding: 10px;
    }

  }

  &__items-list {
    padding-bottom: 20px;
  }

  &__item {
    position: relative;

    @media (min-width: $screen-md) {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }

  }

  &__item-img {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: $screen-lg) {
      width: 100px;
      height: 100px;
    }

  }

  &__item-title {
    min-height: 32px;
    padding: 0 40px 0 70px;
    margin-bottom: 10px;

    @media (min-width: $screen-md) {
      width: 50%;
      min-height: unset;
      padding-right: 0;
      margin-bottom: 15px;
    }

    @media (min-width: $screen-lg) {
      min-height: 55px;
      padding-left: 140px;
      margin-bottom: 12px;
    }

  }

  &__item-title-link {
    font-size: 1rem;
    letter-spacing: 0.7px;
    color: $color-secondary;

    @media (min-width: $screen-lg) {
      font-size: 1.143rem;
    }

  }

  &__item-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;

    @media (min-width: $screen-lg) {
      top: -5px;
      width: 30px;
      height: 30px;
    }

  }

  &__item-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 8px;
    border-radius: 50%;
    background-color: $color-secondary;
    transition: background-color 0.2s;

    @media (min-width: $screen-lg) {
      width: 30px;
      height: 30px;
      font-size: 10px;
      background-color: transparent;
    }

    span:before {

      @media (min-width: $screen-lg) {
        color: $color-secondary;
      }

    }

  }

  &__item-close:hover {

    @media (min-width: $screen-lg) {
      background-color: $color-secondary;
    }

    span:before {

      @media (min-width: $screen-lg) {
        color: $color-white;
      }

    }

  }

  &__item-close-button:focus {
    outline: none;
  }

  &__item-composition-weight {

    @media (min-width: $screen-md) {
      display: flex;
      order: 1;
      width: 100%;
      padding-left: 70px;
    }

    @media (min-width: $screen-lg) {
      padding-left: 140px;
    }

  }

  &__item-weight {
    padding: 0 40px 0 70px;
    margin-bottom: 20px;
    font-size: 0.8571rem;
    color: $color-secondary--light;

    @media (min-width: $screen-md) {
      display: flex;
      align-items: flex-end;
      order: 1;
      padding: 0;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: 185px;
    }

    @media (min-width: $screen-lg) {
      font-size: 1rem;
    }

    @media (min-width: $screen-xl) {
      margin-right: 295px;
    }

  }

  &__item-composition {
    margin-bottom: 15px;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    .product-composition__item {
      margin-right: 30px;
    }

    .product-composition__item:last-child {
      margin-right: 0;
    }

    .product-composition__title {
      font-size: 0.7143rem;

      @media (min-width: $screen-lg) {
        font-size: 0.8571rem;
      }

    }

    .product-composition__value {
      font-size: 0.9286rem;

      @media (min-width: $screen-lg) {
        font-size: 1rem;
      }

    }

  }

  &__item-amount-price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $screen-md) {
      position: relative;
      width: 50%;
      justify-content: flex-end;
      align-items: flex-start;
      padding-right: 50px;
    }

    @media (min-width: $screen-xl) {
      padding-right: 100px;
    }

  }

  &__item-switcher {
    position: relative;
    left: -10px;

    @media (min-width: $screen-md) {
      order: 1;
      left: 0;
      margin-top: -10px;
      margin-left: 30px;
    }

    @media (min-width: $screen-lg) {
      margin-top: -5px;
    }

    @media (min-width: $screen-xl) {
      margin-left: 90px;
    }

  }

  &__item-price {
    font-size: 1.143rem;
    font-weight: 700;
    color: $color-secondary;

    span {
      font-size: 0.9286rem;
    }

  }

  &__item-divider {
    margin: 10px 0 20px;

    @media (min-width: $screen-md) {
      order: 2;
      margin: 20px 0;
    }

    @media (min-width: $screen-lg) {
      margin: 30px 0;
    }

  }

  &__calories {
    margin-bottom: 35px;
  }

  &__calories-title {
    font-size: 0.8571rem;
    color: $color-secondary--light;
  }

  &__calories-value {
    margin-left: 5px;
    font-size: 1.286rem;
    font-weight: 700;
    color: $color-main;
  }

  &__item-checklist {
    margin: 15px 0 20px;

    @media (min-width: $screen-lg) {
      margin: 25px 0;
    }

  }

  &__empty {
    padding: 80px 25px 125px;
    box-shadow: $box-shadow;
    background-color: $color-white;
  }

  &__empty-icon {
    width: 85px;
    height: 85px;
    margin: 0 auto 35px;
    font-size: 85px;

    span:before {
      color: #e5eeee;
    }

  }

  &__empty-text {
    text-align: center;
    font-size: 1rem;
    line-height: 1.65;
    color: $color-secondary--lighten;

    @media (min-width: $screen-md) {
      font-size: 1.286rem;
    }

  }

  &__toppings {
    margin-right: -40px;
    padding: 20px 0 15px;

    @media (min-width: $screen-md) {
      width: 320px;
      margin-right: 0;
    }

    @media (min-width: $screen-lg) {
      width: 440px;
    }

    @media (min-width: $screen-xl) {
      width: 520px;
    }

    @media (min-width: $screen-xxl) {
      width: 570px;
    }

  }

}

