.body {
  height: 100%;
  font-size: inherit;
  font-family: $font-family;
  line-height: $line-height;
  margin: 0;
  overflow-x: hidden;
  background-color: $color-background;
}

.body--no-scroll {
  overflow: hidden;
}