.catalog {

  &__page-header {
    margin-bottom: 25px;
  }

  &__category-filter {
    margin-bottom: 30px;

    @media (min-width: 768px) {
      margin-bottom: 15px;
    }

  }

  &__category-title {
    margin-bottom: 20px;
    font-size: 1.571rem;
    font-weight: 700;
    color: $color-secondary--light;
  }

}