.checkout-pickup {
  padding: 20px;
  background-color: $color-white;
  box-shadow: $box-shadow;
  overflow: hidden;

  @media (min-width: $screen-md) {
    padding: 50px;
  }

  &__radio {
    margin-bottom: 50px;
  }

  &__radio-item {
    margin-bottom: 20px;
  }

  &__radio-item:last-child {
    margin-bottom: 0;
  }

  &__restaurant-choice {
    margin-bottom: 25px;
  }

  &__restaurant-remember {
    margin-bottom: 50px;
  }

  &__dropdown {
    margin-bottom: 40px;
  }

  &__comment {
    margin-bottom: 40px;

    .text-field__input {
      resize: none;
      padding: 0;
    }

  }

  &__payment-method {

    .dropdown__label {
      margin-bottom: 15px;
    }

  }

  &__divider {
    margin-bottom: 40px;
  }

  &__bonus-payment {
    margin-bottom: 40px;
  }

  &__control-call {
    margin-bottom: 40px;
  }

  &__time-container {
    margin-bottom: 25px;
  }

  &__time-title {
    margin-right: 30px;
    font-size: $font-size;
    color: $color-secondary;
  }

  &__time-container {
    display: flex;
    align-items: center;

    .dropdown {
      width: 100px;
    }

    .dropdown__current-item {
      padding-left: 30px;
    }

    .dropdown__arrow {
      top: 18px;
    }

    .dropdown__list-options {
      padding-top: 80px;
    }

  }

  &__time-icon {
    position: absolute;
    left: 0;
    top: 13px;
    font-size: 18px;
  }

}