.sidebar {
  display: none;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  overflow-y: auto;
  padding-bottom: 70px;
  background-color: $color-black--translucent;
  z-index: 10;

  &--active {
    display: block;
  }

  @media (min-width: $screen-md) {
    display: block;
    width: unset;
    background-color: unset;
    padding-bottom: 0;
  }

  &__mobile-nav {
    width: 260px;
    padding: 30px 0 70px;
    background-color: $color-white;

    @media (min-width: $screen-md) {
      display: none;
    }
  }


  &__mobile-nav-item {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    text-decoration: none;
  }

  &__mobile-nav-icon {
    margin-right: 25px;
    font-size: 17px;
    color: $color-main;
  }

  &__mobile-nav-text {
    font-size: $font-size;
    color: $grey9;
  }

  &__mobile-nav-divider {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
  }

  &__mobile-nav-divider-dash {
    width: 10px;
    height: 1px;
    background-color: $grey10;
  }

  &__desktop-nav-wrapper {
    display: none;
    width: 70px;
    height: 100%;
    overflow-x: hidden;
    transition: width 0.3s;

    @media (min-width: $screen-md) {
      display: block;
    }

  }

  &__desktop-nav {
    width: 87px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 35px 0 75px;
    background-color: $grey9;
    transition: width 0.3s;
  }

  &--active {

    .sidebar__desktop-nav-wrapper {
      width: 245px;
    }

    .sidebar__desktop-nav {
      width: 262px;
    }

  }

  &__desktop-nav-item {
    display: flex;
    align-items: center;
    padding: 12px 26px;
    text-decoration: none;
    margin-bottom: 14px;
  }

  &__desktop-nav-item:hover {
    background-color: $grey7;

    .sidebar__desktop-nav-icon {
      opacity: 1;
    }

  }

  &__desktop-nav-item--active {
    background-color: $grey7;

    .sidebar__desktop-nav-icon {
      opacity: 1;
    }

  }

  &__desktop-nav-item:last-child {
    margin-bottom: 0;
  }

  &__desktop-nav-icon {
    font-size: 18px;
    margin-right: 27px;
    opacity: 0.45;
  }

  &__desktop-nav-text {
    font-size: $font-size;
    color: $color-white;
    white-space: nowrap;
  }

  &__desktop-nav-divider {
    display: flex;
    padding: 20px 12px 35px;
  }

  &__desktop-nav-divider-dash {
    flex-shrink: 0;
    width: 10px;
    height: 1px;
    background-color: $color-white;
    opacity: 0.4;
    margin-right: 10px;
  }

  &__desktop-nav-divider-dash:last-child {
    margin-right: 0;
  }

}