.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 2;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  background-color: $color-white;

  &__sidebar-switcher {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 70px;
    font-size: 23px;
    background-color: $color-main;
    cursor: pointer;

    &-opening-icon {
      width: 23px;
      height: 23px;
    }

    &-closing-icon {
      display: none;
      width: 23px;
      height: 23px;
    }

    @media (min-width: $screen-md) {
      width: 70px;
    }

  }

  &__sidebar-switcher--active {

    .header__sidebar-switcher-opening-icon {
      display: none;
    }

    .header__sidebar-switcher-closing-icon {
      display: block;
    }

  }

}