html {
  height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  margin: 0;
  overflow-x: hidden;
  background-color: $color-background;
}

.responsive-img {
  display: block;
  width: 100%;
}