$color-background--lightest:  #f0f7f7;
$color-background--lighten:   #e4f0f0;
$color-background--light:     #daebea;
$color-background:            #eef3f3;
$color-background--dark:      #e7efee;

$color-main:                  #a7c205;
$color-main--dark:            #96af04;

$color-secondary--lightest:   #cedfde;
$color-secondary--lighten:    #92b3b2;
$color-secondary--light:      #709594;

$color-secondary:             #3d5b5a;
$color-secondary--dark:       #284040;
$color-secondary--darkest:    #203131;

$color-error--light:          #f69071;
$color-error:                 #ec704b;

$grey--lightest:              #e6eeee;
$grey:                        #808080;

$color-white:                 #fff;
$color-black:                 #000;
$color-black--translucent:    rgba(35, 35, 38, 0.9);

$font-size:                   14px;

$line-height:                 1.2;
$font-family:                 'GothamPro', Verdana, sans-serif;

$border-radius:               18px;
$box-shadow:                  0 4px 10px rgba(0, 0, 0, 0.1);

$screen-xs:                   0;
$screen-sm:                   576px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;
$screen-xxl:                  1350px;
$screen-xxxl:                 1600px;