.delivery-terms {

  &__title {
    margin-bottom: 25px;

    @media (min-width: $screen-md) {
      margin-bottom: 35px;
    }

  }

  &__content {
    padding: 50px 20px;
    background-color: $color-white;
    box-shadow: $box-shadow;

    @media (min-width: $screen-md) {
      padding: 50px 40px;
    }

    @media (min-width: $screen-xl) {
      padding: 65px 60px;
    }

  }

  &__text {
    max-width: 650px;
    margin-bottom: 45px;
    font-size: $font-size;
    line-height: 1.7;
    color: $color-secondary;

    @media (min-width: $screen-md) {
      font-size: 1.143rem;
      margin-bottom: 55px;
    }

  }

  &__areas {

    @media (min-width: $screen-lg) {
      display: flex;
      margin-bottom: 60px;
    }

  }

  &__areas-title {
    margin-bottom: 20px;
    font-size: 1.143rem;
    font-weight: 700;
    color: $color-secondary;

    @media (min-width: $screen-lg) {
      display: none;
    }

  }

  &__areas-desc {
    margin-bottom: 55px;

    @media (min-width: $screen-lg) {
      min-width: 340px;
      margin-bottom: 0;
      margin-right: 35px;
    }

    .delivery-terms__areas-title {
      display: none;

      @media (min-width: $screen-lg) {
        display: block;
      }

    }

  }

  &__areas-map {
    height: 240px;
    background-color: $color-background--dark;
    margin-right: -20px;
    margin-left: -20px;
    margin-bottom: 25px;

    @media (min-width: $screen-md) {
      margin-right: -40px;
      margin-left: -40px;
    }

    @media (min-width: $screen-lg) {
      order: 1;
      max-width: 640px;
      width: 100%;
      height: unset;
      margin: 0;
    }

    .delivery-areas__map {
      height: 240px;
      margin-bottom: 0;

      @media (min-width: $screen-lg) {
        width: 400px;
        height: 285px;
      }

      @media (min-width: $screen-xl) {
        width: 550px;
      }

      @media (min-width: $screen-xxl) {
        width: 640px;
      }

    }

  }

  &__areas-list {
    list-style: none;
    margin: 0 0 25px;
    padding: 0;
  }

  &__areas-list-item {
    margin-bottom: 18px;
    font-size: $font-size;
    color: $color-secondary;
  }

  &__areas-list-item:last-child {
    margin-bottom: 0;
  }

  &__button {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 0.7143rem;

    @media (min-width: $screen-md) {
      width: unset;
      padding: 10px 20px;
      font-size: 0.8571rem;
    }

  }

  &__info {

    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
    }

  }

  &__info-item {
    margin-bottom: 47px;

    @media (min-width: $screen-md) {
      width: 50%;
    }

    @media (min-width: $screen-lg) {
      width: 33.33%;
      margin-bottom: 0;
    }

    @media (min-width: $screen-xl) {
      padding-left: 38px;
    }

  }

  &__info-item:first-child {

    @media (min-width: $screen-xl) {
      padding-left: 0;
    }
  }


  &__info-item:last-child {
    margin-bottom: 0;
  }

  &__info-item-icon {
    margin-bottom: 25px;
    font-size: 25px;

    span:before {
      color: $color-main;
    }

  }

  &__info-item-title {
    margin-bottom: 25px;
    font-size: 1.143rem;
    font-weight: 700;
    color: $color-secondary;
  }

  &__info-item-text {
    margin-bottom: 15px;
    font-size: $font-size;
    color: $color-secondary;
  }

  &__info-item-text:last-child {
    margin-bottom: 0;
  }

}