.product-card {
  position: relative;
  box-shadow: $box-shadow;
  background-color: $color-white;

  &__img {
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: calc(100% - 150px);
    padding: 20px 20px 15px;
  }

  &__content-top {
    position: relative;
    margin-bottom: 45px;
  }

  &__title {
    margin-bottom: 10px;
    font-size: $font-size;
    color: $color-secondary;
  }

  &__weight {
    font-size: 0.8571rem;
    font-weight: 500;
    color: $color-secondary--light;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__desc {
    font-size: 0.8571rem;
    line-height: 1.5;
    color: $color-secondary--light;
    letter-spacing: 0.6px;
  }

  &__content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-size: 1.143rem;
    font-weight: 700;
    color: $color-secondary;

    span {
      font-size: 1rem;
    }

  }

  &__button {
    display: flex;
    align-items: center;
    padding: 6px 20px;
  }

  &__button:hover {

    .product-card__button-plus {
      color: $color-white;
    }

    .product-card__button-icon span:before {
      color: $color-white;
    }

  }

  &__button-plus {
    margin-right: 5px;
    font-size: 16px;
    font-weight: 400;
    color: $color-secondary--light;
  }

  &__button-icon {
    font-size: 18px;

    span:before {
      color: $color-secondary--light;
    }

  }

}

.product-card--big {

  .product-card__title {
    max-width: 370px;
    font-weight: 700;

    @media (min-width: $screen-md) {
      max-width: 370px;
      margin-bottom: 28px;
      font-size: 1.571rem;
    }

  }

  .product-card__info {
    margin-bottom: 30px;
  }

  .product-card__content-top {
    margin-bottom: 55px;
  }

  .product-card__img {

    @media (min-width: $screen-md) {
      height: 320px;
    }

  }

  .product-card__content {
    padding: 30px 20px;

    @media (min-width: $screen-md) {
      height: calc(100% - 320px);
      padding: 45px 55px;
    }

  }

  .product-composition {

    &__item {

      @media (min-width: $screen-md) {
        margin-right: 40px;
      }

    }

    &__title {

      @media (min-width: $screen-md) {
        font-size: 0.8571rem;
      }

    }

    &__value {

      @media (min-width: $screen-md) {
        font-size: 1.143rem;
      }

    }

  }

  .product-card__weight {

    @media (min-width: $screen-md) {
      position: absolute;
      top: 5px;
      right: 0;
      font-size: 1rem;
    }

  }

  .product-card__desc {
    max-width: 370px;

    @media (min-width: $screen-md) {
      max-width: 370px;
      font-size: 0.9286rem;
      line-height: 1.7;
      letter-spacing: 0.65px;
    }

  }

}

.product-card--admin {

  .product-card__img {
    position: relative;
    z-index: 2;

    .button {
      position: absolute;
      min-width: 190px;
      font-size: 0.8571rem;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

      @media (min-width: $screen-md) {
        min-width: 225px;
        font-size: 1rem;
        padding: 13px 20px;
        border-radius: 23px;
        border-width: 2px;
      }

    }

  }

  .product-card__add-img-button {
    top: -17px;
    right: 20px;

    @media (min-width: $screen-md) {
      top: unset;
      bottom: -21px;
      left: 55px;
    }

  }

  .product-card__delete-img-button {
    bottom: -17px;
    right: 20px;

    @media (min-width: $screen-md) {
      bottom: -21px;
      right: 55px;
    }

  }

  .price-button-wrapper {
    margin-bottom: 40px;
  }

  .admin-field {
    margin-bottom: 20px;
  }

  .admin-field:last-child {
    margin-bottom: 0;
  }

}

.product-card--constructor {

  .product-card__content-top {
    margin-bottom: 30px;
  }

  .product-card__content {
    overflow: hidden;
  }

  .radio__desc {
    margin-bottom: 30px;
  }

}