.questionnaire {
  overflow: hidden;

  &__form {
    padding: 25px;
    box-shadow: $box-shadow;
    background-color: $color-white;
    
    @media (min-width: 768px) {
      padding: 50px;
    }
    
  }

  &__form-item-title {
    margin-bottom: 30px;
    font-size: 1.143rem;
    font-weight: 700;
    color: $color-secondary;

    @media (min-width: 768px) {
      margin-bottom: 40px;
    }

  }

  &__radio-item {
    margin-bottom: 20px;

    @media (min-width: 768px) {
      margin-bottom: 30px;
    }

  }

  &__radio {
    padding-bottom: 20px;
  }

  &__divider {
    margin: 40px 0;

    @media (min-width: 768px) {
      margin: 60px 0;
    }

  }

  &__radio-icons-row {

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    .questionnaire__radio-item--icon {

      @media (min-width: 768px) {
        width: 70px;
      }
    }

  }

  &__load-file {

    @media (min-width: 768px) {
      display: flex;
      align-items: flex-start;
    }

    .button {

      @media (min-width: 768px) {
        flex-shrink: 0;
        margin-right: 20px;
      }

    }

    .load-file__files-list {
      margin-top: 20px;

      @media (min-width: 768px) {
        margin-top: 0;
      }

    }

  }

  &__submit-button {
    min-width: 205px;
    padding: 14px 20px;
    border-radius: 23px;
  }

}